<div id="stuff">
    <h1 id="result"><%= result %></h1>
    <h1 id="on_move"><%= player %></h1>
</div>

<table id="chess_board" cellpadding="0" cellspacing="0">
    <tr>
        <td id="A8"><%= board[0] %></td>
        <td id="B8"><%= board[1] %></td>
        <td id="C8"><%= board[2] %></td>
        <td id="D8"><%= board[3] %></td>
        <td id="E8"><%= board[4] %></td>
        <td id="F8"><%= board[5] %></td>
        <td id="G8"><%= board[6] %></td>
        <td id="H8"><%= board[7] %></td>
    </tr>
    <tr>
        <td id="A7"><%= board[8] %></td>
        <td id="B7"><%= board[9] %></td>
        <td id="C7"><%= board[10] %></td>
        <td id="D7"><%= board[11] %></td>
        <td id="E7"><%= board[12] %></td>
        <td id="F7"><%= board[13] %></td>
        <td id="G7"><%= board[14] %></td>
        <td id="H7"><%= board[15] %></td>
    </tr>
    <tr>
        <td id="A6"><%= board[16] %></td>
        <td id="B6"><%= board[17] %></td>
        <td id="C6"><%= board[18] %></td>
        <td id="D6"><%= board[19] %></td>
        <td id="E6"><%= board[20] %></td>
        <td id="F6"><%= board[21] %></td>
        <td id="G6"><%= board[22] %></td>
        <td id="H6"><%= board[23] %></td>
    </tr>
    <tr>
        <td id="A5"><%= board[24] %></td>
        <td id="B5"><%= board[25] %></td>
        <td id="C5"><%= board[26] %></td>
        <td id="D5"><%= board[27] %></td>
        <td id="E5"><%= board[28] %></td>
        <td id="F5"><%= board[29] %></td>
        <td id="G5"><%= board[30] %></td>
        <td id="H5"><%= board[31] %></td>
    </tr>
    <tr>
        <td id="A4"><%= board[32] %></td>
        <td id="B4"><%= board[33] %></td>
        <td id="C4"><%= board[34] %></td>
        <td id="D4"><%= board[35] %></td>
        <td id="E4"><%= board[36] %></td>
        <td id="F4"><%= board[37] %></td>
        <td id="G4"><%= board[38] %></td>
        <td id="H4"><%= board[39] %></td>
    </tr>
    <tr>
        <td id="A3"><%= board[40] %></td>
        <td id="B3"><%= board[41] %></td>
        <td id="C3"><%= board[42] %></td>
        <td id="D3"><%= board[43] %></td>
        <td id="E3"><%= board[44] %></td>
        <td id="F3"><%= board[45] %></td>
        <td id="G3"><%= board[46] %></td>
        <td id="H3"><%= board[47] %></td>
    </tr>
    <tr>
        <td id="A2"><%= board[48] %></td>
        <td id="B2"><%= board[49] %></td>
        <td id="C2"><%= board[50] %></td>
        <td id="D2"><%= board[51] %></td>
        <td id="E2"><%= board[52] %></td>
        <td id="F2"><%= board[53] %></td>
        <td id="G2"><%= board[54] %></td>
        <td id="H2"><%= board[55] %></td>
    </tr>
    <tr>
        <td id="A1"><%= board[56] %></td>
        <td id="B1"><%= board[57] %></td>
        <td id="C1"><%= board[58] %></td>
        <td id="D1"><%= board[59] %></td>
        <td id="E1"><%= board[60] %></td>
        <td id="F1"><%= board[61] %></td>
        <td id="G1"><%= board[62] %></td>
        <td id="H1"><%= board[63] %></td>
    </tr>
</table>
