<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link href="/css/main.css" rel='stylesheet'>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/chess.js"></script>

    <title>Sinatra Template</title>
  </head>

  <body>

    <div id='container'>
      <%= yield %>
    </div>

  </body>
</html>

